@media (max-width: 992px) {
    .navbar-brand {
        visibility: hidden;
    }
    .content-notice {
        padding-left: 0px;
    }
    .thumbnail-content,
    .right-content {
        padding-left: 15px;
    }
    .content-section {
        padding: 0px;
    }
    .thumbnail-content,
    .content-section,
    .facebook,
    .contact {
        /*margin-top: 35px;*/
    }
    .thumbnail-content .header-thumbnail a {
        margin: 0px 16px 20px 16px;
    }
    .member-area {
        padding-left: 15px;
    }
    .footer .youtube iframe,
    .footer .facebook .fb-page {
        width: 200px;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        visibility: visible;
    }
    .content-notice,
    .thumbnail-content,
    .right-content,
    .content-section {
        padding: 0px;
    }
    .thumbnail-content,
    .content-section,
    .facebook,
    .contact {
        margin-top: 35px;
    }
    .thumbnail-content .header-thumbnail a {
        margin: 0px 0px 20px 0px;
    }
    .member-area {
        padding: 15px;
    }

    .footer .youtube iframe,
    .footer .facebook .fb-page {
        /*width: 272px;*/
    }
    .right-content {
        padding: 15px;
    }
    .album-showcase img,
    .album-preview img {
        height: 108px;
    }
}
@media (max-width: 414px) {
    .content-notice,
    .thumbnail-content,
    .right-content,
    .content-section {
        padding: 0px;
    }

    .thumbnail-content,
    .content-section,
    .facebook,
    .contact {
        margin-top: 35px;
    }
    .thumbnail-content .header-thumbnail a {
        margin: 0px 0px 20px 0px;
    }
    .member-area {
        padding: 15px;
    }
    .right-content {
        padding: 15px;
    }
    .footer .youtube iframe,
    .footer .facebook .fb-page {
        width: 308px;
    }
}

@media (max-width: 375px) {
    .footer .youtube iframe,
    .footer .facebook .fb-page {
        width: 272px;
    }
}

@media (max-width: 320px) {
    .content-notice,
    .thumbnail-content,
    .right-content,
    .content-section {
        padding: 0px;
    }
    .thumbnail-content,
    .content-section,
    .facebook,
    .contact {
        margin-top: 35px;
    }
    .thumbnail-content .header-thumbnail a {
        margin: 0px 0px 20px 0px;
    }
    .right-content,
    .member-area {
        padding: 15px;
    }
    .footer .youtube iframe,
    .footer .facebook .fb-page {
        width: 222px;
    }
}